.resume {
    &.display-as-template-card {
        width: 317.2px;
        height: 448.8px;
        font-size: 6.4px;

        @include tablet {
            width: 475.8px;
            height: 673.2px;
            font-size: 9.6px;
        }
    }

    &.zoom-40 {
        width: 317.2px;
        height: 448.8px;
        font-size: 6.4px;
    }

    &.zoom-60 {
        width: 475.8px;
        height: 673.2px;
        font-size: 9.6px;
    }

    &.zoom-80 {
        width: 634.4px;
        height: 897.6px;
        font-size: 12.8px;
    }

    &.zoom-100 {
        width: 793px;
        height: 1122px;
        font-size: 16px;
    }

    margin: auto;
    margin-top: 50px !important;
    overflow: hidden;
    padding: 5px;

    h1 {
        font-size: 2em;
        margin: 0.15em 0;
    }

    h2 {
        font-size: 1.5em;
        margin: 0.1em 0;
    }

    h3 {
        font-size: 1.17em;
        margin: 0.05em 0;
    }

    h4 {
        font-size: 1em;
        margin: 0.05em 0;
    }

    h5 {
        font-size: 0.83em;
        margin: 0.05em 0;
    }

    h6 {
        font-size: 0.67em;
        margin: 0.05em 0;
    }

    p {
        margin: 0.05em 0;
    }

    a {
        color: #007bff;
        text-decoration: none;
        background-color: transparent;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    ul {
        //   margin: 0.5em 0;
        padding: 0 0 0 1.25em;
    }

    ol {
        //   margin: 0.5em 0;
        padding: 0 0 0 1.25em;
    }

    li {
        margin: 0.25em 0;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        text-align: left;
        border: 1px solid #dee2e6;
    }

    button,
    input,
    select,
    textarea {
        margin: 0;
        //   padding: 0.5em;
        box-sizing: border-box;
    }

    .line {
        margin: 0.01em 0;
    }

    span,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a {
        display: inline-block;
    }

    &--sectioned {
        display: flex;
        flex-direction: column;

        .main {
            display: flex;
            width: 100%;
            flex: 1;

            &__divider {
                margin: 5% 0;
                width: 1px;
                height: 90%;
                background-color: black;
            }

            &.col-30-70 {
                @include justify-between;

                >div:first-child {
                    width: 26%;
                }

                >div:last-child {
                    width: 66%;
                }
            }

            &.col-40-60 {
                @include justify-between;

                >div:first-child {
                    width: 36%;
                }

                >div:last-child {
                    width: 56%;
                }
            }

            &.col-50-50 {
                @include justify-between;

                >div:first-child {
                    width: 46%;
                }

                >div:last-child {
                    width: 46%;
                }
            }

            &.col-60-40 {
                @include justify-between;

                >div:first-child {
                    width: 56%;
                }

                >div:last-child {
                    width: 36%;
                }
            }

            &.col-70-30 {
                @include justify-between;

                >div:first-child {
                    width: 66%;
                }

                >div:last-child {
                    width: 26%;
                }
            }


        }
    }

}