.resume-element {
    max-width: 100%;
    display: inline-block;
    min-width: 24px;
    max-width: 100%;
    text-overflow: hidden;
    min-height: max-content;

    &.empty {
        min-height: 11px;
    }

    &.editable {
        resize: both;
        overflow: auto;

        &:focus,
        &:active {
            outline: 1px solid gray;
        }
    }


    &.inline {
        width: 50%;
    }

    &.block {
        width: 100%;
    }


    &.line {
        height: 1px ;
        width: 100%;
        display: block;
        background-color: rgb(0, 0, 0);
        resize: horizontal;
        overflow: auto;

        &.editable {
            resize: horizontal !important;
            overflow: auto;
            min-height: 1px !important;

            &:focus,
            &:active {
                outline: none !important;
            }
        }
    }
}