.resume {
    width: 793px;
    height: 1122px;
    margin: auto;
    margin-top: 50px !important;
    overflow: visible;
    padding: 5px;

    h1 {
        font-size: 2em;
        margin: 0.15em 0;
    }

    h2 {
        font-size: 1.5em;
        margin: 0.1em 0;
    }

    h3 {
        font-size: 1.17em;
        margin: 0.05em 0;
    }

    h4 {
        font-size: 1em;
        margin: 0.05em 0;
    }

    h5 {
        font-size: 0.83em;
        margin: 0.05em 0;
    }

    h6 {
        font-size: 0.67em;
        margin: 0.05em 0;
    }

    p {
        margin: 0.05em 0;
    }

    a {
        color: #007bff;
        text-decoration: none;
        background-color: transparent;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    ul {
        //   margin: 0.5em 0;
        padding: 0 0 0 40px;
    }

    ol {
        //   margin: 0.5em 0;
        padding: 0 0 0 40px;
    }

    li {
        margin: 0.25em 0;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        text-align: left;
        border: 1px solid #dee2e6;
    }

    button,
    input,
    select,
    textarea {
        margin: 0;
        //   padding: 0.5em;
        box-sizing: border-box;
    }

    .line {
        margin: 0.01em 0;
    }

    span,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a {
        display: inline-block;
    }

    &--sectioned {
        display: flex;
        flex-direction: column;

        .main {
            display: flex;
            width: 100%;
            flex: 1;

            &.col-30-70{
                >div:first-child {
                    width: 30%;
                }
                >div:last-child {
                    width: 70%;
                }
            }
            
            &.col-40-60{
                >div:first-child {
                    width: 40%;
                }
                >div:last-child {
                    width: 100%;
                }
            }

            &.col-50-50{
                >div:first-child {
                    width: 50%;
                }
                >div:last-child {
                    width: 50%;
                }
            }

            &.col-60-40{
                >div:first-child {
                    width: 60%;
                }
                >div:last-child {
                    width: 40%;
                }
            }

            &.col-70-30{
                >div:first-child {
                    width: 70%;
                }
                >div:last-child {
                    width: 30%;
                }
            }


        }
    }

}