.toolbar-btn {
    position: relative;
    height: 30px;
    border: none;
    color: whitesmoke;
    text-decoration: none;
    font-weight: 500;
    background-color: rgba(9, 28, 79, 0.812);
    padding: 0.2em 0.8em;
    border-radius: 3px;
    font-size: 0.9rem;
    display: flex;
    align-items: center;

    // @include tablet() {
    //     font-size: 1.1rem;
    // }

    &.duplicate-up{
        svg{
            transform: rotate(180deg);
        }
    }
    &.duplicate-right{
        svg{
            transform: rotate(-90deg);
        }
    }

    &:hover,
    &:focus {
        background-color: #233c8f;
    }


    .tooltip {
        position: absolute;
        color: darkblue;
        background-color: rgba(0, 0, 0, 0.1);
        top: 35px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        width: max-content;
        font-size: 0.9em;
        padding: 0.1em;
        border-radius: 2px;


        &-visible {
            opacity: 1;
        }

        &-hidden {
            opacity: 0;
        }
    }
}