.toolbar {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 2px;
    position: fixed;
    top: 10px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    overflow-x: auto;
    height: 70px;

}