.user-data-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;


    &__container {
        flex: 1;
        display: flex;
        flex-direction: row;
        overflow-x: hidden;
        width: 1200vw;
        transition: transform 1s ease-in-out;

        >div {
            width: 100vw;
            padding: 10px;
            @include center;

            @include tablet() {
                padding: 10px 40px;
            }

            h2 {
                font-size: 1.5em;
                text-align: center;
                margin-bottom: 1em;
                color: #2e2d32;

                @include tablet() {
                    font-size: 2.5em;
                }
            }

            form {
                width: 100%;
                max-width: 600px;

                .input-container {
                    margin-bottom: 1em;
                    width: 100%;

                    label {
                        margin-bottom: 0.5em;
                        color: #2e2d32;
                        font-weight: bold;
                        font-size: 0.9rem;

                        @include tablet() {
                            font-size: 1rem;
                        }
                    }

                    .input {
                        width: 100%;
                        font-size: 0.9rem;
                        border-radius: 0.5em;
                        background-color: rgba(0, 0, 0, 0.05);
                        outline: 1px solid #4173b054;
                        color: #1e3a8a;
                        border: none;
                        padding: 1em;
                        border-radius: 0.5em;

                        &::placeholder {
                            color: #1e3b8a9f;
                        }

                        &:focus {
                            outline: 1px solid #4173b0;
                        }
                    }
                }

                .save {
                    padding: 0.8em 1.5em;
                    color: white;
                    text-decoration: none;
                    display: block;
                    max-width: max-content;
                    border-radius: 3px;
                    transition: 0.5s ease;
                    font-size: 0.9rem;
                    background-color: #1d4ed8;
                    border: none;
                    outline: none;

                    @include tablet() {
                        font-size: 1rem;
                    }

                    &:hover {
                        padding: 0.8em 2em;
                    }

                    &:disabled {
                        background-color: #6cb4e5;

                        &:hover {
                            cursor: not-allowed;
                            padding: 0.8em 1.5em;
                        }
                    }
                }

                .multiple-input-container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 0.8em;
                    overflow-x: auto;
                    margin-bottom: 1em;
                    padding: 0.5em;
                    padding-left: 0.25em;

                    .input-item {
                        width: max-content;
                        min-width: 150px;
                        font-size: 0.9rem;
                        border-radius: 0.5em;
                        background-color: rgba(0, 0, 0, 0.05);
                        outline: 1px solid #4173b054;
                        color: #1e3a8a;
                        border: none;
                        padding: 1em;
                        border-radius: 0.5em;

                        &::placeholder {
                            color: #1e3b8a9f;
                        }

                        &:focus {
                            outline: 1px solid #4173b0;
                        }

                    }

                    .add {
                        padding: 0.2em 0.6em;
                        margin: 0.2em;
                        @include center;
                        display: inline-flex !important;
                        background-color: rgba(27, 100, 177, 0.6);
                        width: max-content;
                        color: #2b5876;
                        text-decoration: none;
                        border-radius: 0.2em;
                        border: none;
                        outline: none;
                        border: 1px solid rgba(27, 100, 177, 1);
                        transition: 0.5s ease;
                        font-size: 1.1rem;

                        @include tablet() {
                            font-size: 1.2rem;
                        }

                        &:hover {
                            cursor: pointer;
                            color: white;
                            background-color: rgba(27, 100, 177, 1);
                        }
                    }

                    &.multiple {

                        .input-item {
                            min-width: 300px;

                            input, textarea{
                                width: 100%;
                                color: inherit;
                                border: none;
                                outline: inherit;
                                padding: inherit;
                                background: inherit;
                                margin: inherit;
                                margin-bottom: 0.6em;
                                border-radius: inherit;

                            }
                        }
                    }
                }

            }


        }


    }


    .progress {
        width: 90%;
        margin: 5px auto;
        height: 5px;
        border-radius: 3px;
        background-color: #38bdf8;


        &__bar {
            transition: all 0.5s ease;
            background-color: #2b5876;
            height: 100%;
            border-radius: 3px;
        }
    }


    .prev-skip-btns {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        gap: 10px;
        margin-bottom: 10px;

        button {
            padding: 0.8em 1.5em;
            color: white;
            text-decoration: none;
            display: block;
            max-width: max-content;
            border-radius: 3px;
            transition: 0.5s ease;
            font-size: 0.9rem;
            background-color: #1d4ed8;
            border: none;
            outline: none;

            @include tablet() {
                font-size: 1rem;
            }

            &:hover {
                padding: 0.8em 1.8em;
            }

            &:disabled {
                background-color: #6cb5e5d3;

                &:hover {
                    cursor: not-allowed;
                    padding: 0.8em 1.5em;
                }
            }

        }
    }
}