.sharp-focus {
    background-color: rgb(248, 248, 248);

    .name, .profession {
        width: 100%;
        text-align: center;
    }

    .summary{
        width: 100%;
        text-align: center;
        padding: 0 10%;
    }


    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        width: 100%;
    }

    .first-experience,
    .second-experience,
    .third-experience {
        width: 100%;
    }


    .address, .phone, .email, .website{
        width: 100%;
    }
}