.sleek-lines {
    background-color: rgb(248, 248, 248);
    padding: 0;

    .header {
        width: 100%;
        padding: 0;
            margin: 0;

        .name-profession {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0 !important;
            width: 100%;


            * {
                padding: 1.067em;
                margin: 0;
                text-align: center;
            }


            .name {
                border-right: 0.0625em solid rgba(56, 56, 135, 0.9);
                width: 130%;
                text-align: center;
            }
        }

        .contact {
            margin: 0;
            width: 100%;
            display: flex;
            border-top: 0.0625em solid rgba(56, 56, 135, 0.9);
            border-bottom: 0.0625em solid rgba(56, 56, 135, 0.9);

            * {
                border-right: 0.0625em solid rgba(56, 56, 135, 0.9);
                text-align: center;
                padding-top: 0.625em;
                padding-bottom: 0.625em;
            }

        }
    }

    .profile {
        width: 100%;
        border-bottom: 0.0625em solid rgba(56, 56, 135, 0.9);
        padding: 0.625em;
    }

    .career-objective {
        width: 100%;
        border-bottom: 0.0625em solid rgba(56, 56, 135, 0.9);
        padding: 0.625em;
    }


    .skills {
        width: 100%;
        border-bottom: 0.0625em solid rgba(56, 56, 135, 0.9);

        padding: 0.625em;
    }

    .education {
        width: 100%;
        border-bottom: 0.0625em solid rgba(56, 56, 135, 0.9);

        padding: 0.625em;
    }

    .experience {
        width: 100%;
        border-bottom: 0.0625em solid rgba(56, 56, 135, 0.9);

        padding: 0.625em;
    }

    .projects {
        width: 100%;
        border-bottom: 0.0625em solid rgba(56, 56, 135, 0.9);

        padding: 0.0625em;
    }


    .main {}

    .main-left {
        border-right: 0.0625em solid rgba(56, 56, 135, 0.9);

        width: 35% !important;
    }

    .main-right {
        width: 65% !important;
    }

    .name,
    .profession {
        width: 100%;
    }

    .summary {
        width: 100%;
    }


    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        width: 100%;
    }

    .first-experience,
    .second-experience,
    .third-experience {
        width: 100%;
    }


    .address,
    .phone,
    .email,
    .website {
        width: 100%;
    }
}