// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------
@mixin desktop {
  @media (min-width: 800px) { @content; }
}

@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin justify-between{
    display: flex;
    justify-content: space-between;
}

@mixin transition($time) {
    transition: all $time ease-in-out;
}

@mixin tablet{
    @media screen and (min-width: 768px) {
        @content;
    }
}
@mixin desktop {
    @media screen and (min-width: 1440px) {
        @content;
    }
}

// @media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
// @media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
// @media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
// @media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
// @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
// @media (min-width:1281px)