// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin justify-between{
    display: flex;
    justify-content: space-between;
}

@mixin transition($time) {
    transition: all $time ease-in-out;
}

@mixin tablet{
    @media screen and (min-width: 600px) {
        @content;
    }
}
@mixin desktop {
    @media screen and (min-width: 1025px) {
        @content;
    }
}