.dashboard {


    .saved-resumes-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;

        @include tablet {
            gap: 50px;
        }


        .card-wrapper {
            color: unset;
            text-decoration: unset;

            .card {
                box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
                width: 317.2px !important;
                height: 448.8px !important;
                font-size: 6.4px !important;

                @media (min-width: 768px) {
                    width: 475.8px !important;
                    height: 673.2px !important;
                    font-size: 9.6px !important;
                }
            }
        }
    }

}