// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.landing {
    display: flex;
    flex-direction: column;
    background: linear-gradient(-45deg, #2b5876, #4e4376, #2e2d32, #346CB0);
    background-size: 400%;
    animation: gradient 10s ease infinite;
    height: calc(100vh - 62.4px);

    &__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
            text-align: center;
            margin-top: 20px;
            color: #eff6ff;
            font-size: 2.2rem;
            padding: 0 10px;
            font-family: 'Manrope', sans-serif;

            @include tablet() {
                font-size: 3.5rem;
            }

            span {
                color: #bfdbfe;
            }
        }

        p {
            color: whitesmoke;
            text-align: center;
            margin-top: 10px;
            font-size: 1rem;
            font-weight: 300;
            padding: 0 5px;

            @include tablet() {
                font-size: 1.2rem;
            }
        }

        .cta {
            padding: 0.8em 1.5em;
            color: white;
            text-decoration: none;
            display: block;
            max-width: max-content;
            margin: 30px auto;
            border-radius: 3px;
            transition: 0.5s ease;
            animation: cta 8s ease infinite;
            font-size: 0.9rem;

            @include tablet() {
                font-size: 1rem;
            }

            &:hover {
                padding: 0.8em 2em;
            }
        }


    }

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
        margin: 10px 0;
        padding: 5px;
        text-align: center;
        color: rgb(226, 225, 225);

        a {
            color: rgb(209, 225, 242);
            text-underline-offset: 2px;
        }

        .dot {
            color: lightblue;
        }
    }

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes cta {
    0% {
        background-color: #4338ca;
    }

    25% {
        background-color: #1e3a8a;
    }

    50% {
        background-color: #3b82f6;
    }

    100% {
        background-color: #1d4ed8;
    }
}