.templates {

    &__heading {
        margin: 0.8em 0 0.4em 0;
        font-family: 'Manrope', sans-serif;
        color: #1e3a8a;
        font-size: 1.5em;
        text-align: center;

        @include tablet() {
            font-size: 2em;
        }
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
        padding: 1.2em;

        @include tablet() {
            padding: 1.5em;
        }

        .template-card {
            box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
            color: unset;
            text-decoration: none;

            .title {
                display: block;
                text-align: center;
                background: rgba(0, 0, 0, 0.1);
                padding: 0.2em;
            }

            .resume {
                margin-top: 0 !important;
            }
        }




    }
}