@charset 'UTF-8';

// 1. Configuration and helpers
@import "abstracts/variables", "abstracts/functions", "abstracts/mixins";

// 2. Vendors
// @import "vendors/...";

// 3. Base stuff
@import "base/base", "base/fonts", "base/typography", "base/helpers";

// 4. Layout-related sections
@import "layout/header", "layout/footer";

// 5. Components
@import "components/button";
@import "components/resume-element";
@import "components/toolbar";
@import "components/resume";

// 6. Page-specific styles
@import "pages/home";
@import "pages/resume-templates/clean-and-simple";
@import "pages/resume-templates/sharp-focus";
@import "pages/resume-templates/modern-minimalism";
@import "pages/resume-templates/professional-edge";
@import "pages/resume-templates/creative-spark";
@import "pages/resume-templates/sleek-lines";

// 7. Themes
@import "themes/default";


.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}




