@charset 'UTF-8';

// 1. Configuration and helpers
@import "abstracts/variables", "abstracts/functions", "abstracts/mixins";

// 2. Vendors
// @import "vendors/...";

// 3. Base stuff
@import "base/base", "base/fonts", "base/typography", "base/helpers";

// 4. Layout-related sections
@import "layout/header", "layout/footer";

// 5. Components
@import "components/button";

// 6. Page-specific styles
@import "pages/home";

// 7. Themes
@import "themes/default";

.toolbar {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    position: fixed;
    top: 10px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.toolbar button {
    padding: 3px;
    margin: 0 3px;
}

.editable-container {
    position: relative;
}

.editable {
    resize: both;
    overflow: auto;
    max-width: 100%;
    display: inline-block;
    min-width: max-content;
}

.editable.inline {
    width: 50%;
}

.editable.block {
    width: 100%;
}

.editable-btns {
    position: absolute;
    top: -10px;
    z-index: 10;
    width: 100%;
}

.line {
    height: 2px;
    width: 100%;
    background-color: black;
    resize: horizontal;
    overflow: auto;
}

.resume {
    width: 793px;
    height: 1122px;
    margin: auto;
    margin-top: 50px !important;
    background-color: rgb(240, 240, 240);
    overflow: visible;
}

.editable:focus,
.editable:active {
    outline: 1px solid gray;
}